Django==6.0.4
django-cors-headers==4.9.0
djangorestframework==3.17.1
drf-yasg==1.21.15
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
packaging==26.2
pillow==12.2.0
typing_extensions==4.15.0
django-extensions
factory-boy 
faker
djoser
black
